/* (c) @gotjane on github.com.
Created for educational purposes only, to go with my Codecademy.com lessons and to hone my skills.
Not intended for any other use (and copying code teaches one nothing; at least come up with better cop outs). */
body{background:#333;font:normal 1em Helvetica,arial,sans-serif;color:#444}
#container{background:#f9f9f9;margin:auto;border:4px solid darkred;border-radius:10px;width:75%;padding:20px}
h1{font-family:Georgia,serif;text-align:center;text-transform:lowercase;color:darkred;font-weight:normal}
.navigation{text-align:center;margin:0;padding:0}
.navigation li{display:inline-block}
#footer{font:normal .75em "courier", monospace;color:#888;text-transform:lowercase;text-align:center}
a{color:midnightblue;text-decoration:none}
a:hover{color:red}
