html{
    height:100%;
}
body{
    display:grid;
    place-items:center;
    font:400 1.2rem 'Poppins',sans-serif;
    height:90%;
    text-align:center;
}
.content{
    width:95%;
    max-width:37.5rem;
}
h1{
    font:700 2rem 'Poppins',sans-serif;
}
a{
    color:#00aa00;
    font-weight:700;
    text-decoration:none;
}
a:hover{
    color:#1ba39c;
}
