/*
 * Coded by Jane of janepedia.com, for use on jane.fyi, namely git.jane.fyi
 * Copyright 2019 janepedia.com, @gotjane on Github
 *
 * Gold: #aa8f00
 * Purple: #e000e0
 * Teal: #00a4a6
 */
*{
	box-sizing:border-box
}
body{
	font:300 1.2rem "Inconsolata", monospace
}
.site-header,
.site-footer{
	margin:1rem auto;
	max-width:600px
}
.project-card-wrapper{
	display:grid;
	grid-gap:1rem;
	grid-template-columns:1fr 1fr;
	margin:0 auto;
	max-width:650px
}
.project-card{
	align-items:flex-end;
	background-color:rgba(170,143,0,0.25);
	background-position:center;
	background-size:cover;
	border-radius:.5rem;
	display:flex;
	height:55vh;
	justify-content:center;
	max-height:23rem;
	min-height:15rem;
	transition:transform .2s ease-out
}
.project-card:hover{
	transform:scale(1.05)
}
.project-card-info{
	background-color:rgba(1,1,1,0.25);
	border-radius:0 0 .5rem .5rem;
	color:white;
	padding:1rem 1.5rem;
	width:100%
}
.project-card__time{
	display:block;
	text-transform:lowercase
}
.project-card__title{
	font-size:1.5rem
}
h1{
	color:#00a4a6;
	font:400 3.5rem "Marck Script", cursive;
	text-transform:lowercase;
}
h1,
.intro,
.project-card-info,
.site-footer{
	text-align:center
}
.site-footer{
	text-transform:lowercase
}
a{
	color:#e000e0;
	text-decoration:none
}
a:hover{
	color:#444
}
h2{
	font:400 2.9rem/1 "Marck Script", cursive;
	text-transform:lowercase
}
h3,
.site-footer p{
	color:#939393;
	font:300 1.35rem "Inconsolata", monospace
}
img{
	max-width:100%
}
/* fade transition sauce: https://codepen.io/shshaw/pen/wWQZEB */
.social-icons{
	padding:10px 0;
	width:50%;
	margin:0 auto;
	text-align:center;
	display:flex;
	flex-direction:row;
	justify-content:space-between;
	align-content:center;
	visibility:hidden
}
.social-icons > *{
	visibility:visible;
	transition:opacity 150ms linear 100ms, transform 150ms ease-in-out 100ms
}
.social-icons:hover > *{
	opacity: 0.4; transform: scale(0.9)
}
.social-icons > *:hover{
	opacity: 1; transform: scale(1); transition-delay: 0ms, 0ms
}
.fa-blog{
	color:#00a4a6
}
.fa-github{
	color:#6cc644
}
.fa-instagram{
	color:#c13584
}
.fa-pinterest{
	color:#bd081c
}
.fa-twitter{
	color:#1da1f2
}
.fab:hover,
.fas:hover{
	color:#333
}
::-moz-selection,
::selection{
	color:#fff;
	background:#00a4a6
}
