/*
 * Coded by Jane of janepedia.com, for use on jane.fyi, namely git.jane.fyi
 * Copyright 2019 janepedia.com, @gotjane on Github
 *
 * Gold: #aa8f00
 * Purple: #e000e0
 * Teal: #00a4a6
 */
body{font:300 1.2rem "Inconsolata", monospace}
.sauce{
	font-size:1.5rem;
	display:flex;
	flex-direction:row;
	justify-content:space-between
}
.sauce time{
	font-size:1.2rem
}
.everything{
	margin:0 auto;
	max-width:600px
}
header{}
.site-header,
.site-footer{
	margin:0 auto;
	max-width:600px
}
.card-wrapper{
	margin:0 auto;
	max-width:650px
}
h1{
	color: #00a4a6;
	font:400 3.5rem "Marck Script", cursive;
	text-align:center;
	text-transform:lowercase;
}
.intro,
footer{
	text-align:center
}
.social{}

.project-card{
	padding:20px 0;
	border-bottom:4px solid #eee;
}
.project-card:after{
	content:"";
	clear:both
}
.project-card:last-of-type{
	border-bottom:none;
	border:0;
}
h2{
	color:#aa8f00;
	font:400 2.5rem/1 "Marck Script", cursive;
	text-transform:lowercase
}
h3,
footer p{
	color:#939393;
	font:300 1.35rem "Inconsolata", monospace
}
p{}
img{
	max-width:100%
}
.align-left{
	float:left;
	text-align:left;
	padding-right:10px
}
.thumbnail{
	border-radius:20px;
	height:200px;
	width:200px
}
.align-right{
	float:right;
	text-align:right;
	padding-left:10px
}
.info{

}
a{
	color:#e000e0;
}
a:focus{
	background-color:#eee
}
a:hover{
	text-decoration:none
}
/* fade transition sauce: https://codepen.io/shshaw/pen/wWQZEB */
.social-icons{
	padding:10px 0;
	width:50%;
	margin:0 auto;
	text-align:center;
	display:flex;
	flex-direction:row;
	justify-content:space-between;
	align-content:center;
	visibility:hidden
}
.social-icons > *{
	visibility:visible;
	transition:opacity 150ms linear 100ms, transform 150ms ease-in-out 100ms
}
.social-icons:hover > *{
	opacity: 0.4; transform: scale(0.9)
}
.social-icons > *:hover{
	opacity: 1; transform: scale(1); transition-delay: 0ms, 0ms
}
.fa-blog{
	color:#00a4a6
}
.fa-github{
	color:#6cc644
}
.fa-instagram{
	color:#c13584
}
.fa-pinterest{
	color:#bd081c
}
.fa-twitter{
	color:#1da1f2
}
.fab:hover,
.fas:hover{
	color:#333
}
::-moz-selection,
::selection{
	color:#fff;
	background:#00a4a6
}