@import url("https://fonts.googleapis.com/css?family=Gloria+Hallelujah|Quicksand");
#effy hr{height:3px;width:75%;background:#47a3af}
#effy{max-width:80%;margin:0 auto}
#effy{font:.8rem "Quicksand", sans-serif;text-transform:none}
#effy h2{font-family: 'Gloria Hallelujah', cursive;text-transform:lowercase;font-weight:thin;text-align:center;border-bottom:3px solid #47a3af;padding:10px 0}
#effy a{color:#47a3af}#effy a:hover{color:#333;text-decoration:line-through}
#effy nav{text-align:center}
